.header {
    height: 80px;
    width: 100%;
    display: flex;
    align-self: flex-end;
    margin-bottom: 25px;
}

.options {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.option {
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
  }
.option:visited {
    color: black;
}
  